# Prerequisites
*.d

# Object files
*.o
*.elf

# Linker output


# Precompiled Headers


# Libraries


# Shared objects (inc. Windows DLLs)


# Executables
*.app
*.i*86
*.x86_64
*.hex

# Debug files


# Kernel Module Compile Results


# Visual Studio Code Configurations
/.vscode